/*-------------------*/
/* faq functionality */
/*-------------------*/
.question-wrap > input{ display: none } /* hide checkbox */
.question-wrap > .answer{ display: none } /*hide answer */
.question-wrap > input:checked ~ .answer{ display: block } /* show answer on check */

/*-------------*/
/* faq styling */
/*-------------*/
.faq{
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction:column;
  gap: .5em;
}
/* faq styling question */
.question-wrap > label{
  background-color: var(--c60);
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
  color: white;
  padding: .5em 1em;
  user-select: none;
  cursor: pointer;
  transition: background-color 250ms ease;
}
.question-wrap > label:hover{
  background-color: var(--c80);
}
.question-wrap > input:checked + label{
  background-color: var(--c100);
}
.question-wrap > label::after{
  content: '▼';
  transition: transform 250ms ease;
}
.question-wrap > input:checked + label::after{
  transform: rotate(-180deg);
}

/* faq styling answer */
.question-wrap > .answer{
  display:block;
  padding: 0 1em;
  max-height: 0;
  overflow: hidden;
  background-color: var(--c00);
  transition: padding 250ms ease, max-height 125ms ease;
}
.question-wrap input:checked ~ .answer{
  padding: 1em;
  max-height: 500px; /*height can not be transitioned without fixed value*/
}


/*----------------*/
/* global styling */
/*----------------*/
:root{
  --cHue: 200;
  --cSat: 50%;
  --c00: hsl(var(--cHue), var(--cSat), 100%);
  --c20: hsl(var(--cHue), var(--cSat), 80%);
  --c40: hsl(var(--cHue), var(--cSat), 60%);
  --c60: hsl(var(--cHue), var(--cSat), 40%);
  --c80: hsl(var(--cHue), var(--cSat), 20%);
  --c100: hsl(var(--cHue), var(--cSat), 0%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 1em;
  min-height: 100vh;
  background: #37B067;
  font-family: sans-serif;
  color: grey;
}
h1{
  color: white;
}
li{
  margin: 12px;
}